<!--
{% extends 'base.html' %}
{% block content %}

 <div class="container">
    <div class="row mt-5 my-5">
        <div class="col-sm-6 col-md-6">
          <div class="card">
            <div class="card-body">
                <img src="https://img.freepik.com/free-psd/macbook-mockup-floating_1332-60671.jpg?ga=GA1.1.541055838.1741897554&semt=ais_hybrid"    class="img-fluid product-img rounded" alt="" height="400">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card product-card p-4 mt-3">
                <h2 class="card-title">Product Name</h2>
                <p class="text-muted">Category Name</p>
            </div>
            <div class="mb-3 mt-3">
                <span class="h4 text-success fw-bold">250 SAR</span>
                <small class="tex-muted text-decoration-line-trougth ms-2">250 SAR</small>
            </div>

            <div class="card-text">
              Product description or notes
            </div>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item">Quantity</li>
              <li class="list-group-item">Free shipping </li>
              <li class="list-group-item">One year warranty</li>
            </ul>
            <button class="btn btn-primary btn-lg" onclick="add_to_cart"> Add to cart </button>
            <button class="btn btn-danger btn-lg">  Continue shopping </button>
        </div>
    </div>
 </div>

{% endblock %}
-->
